# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
.env/
pose_analysis_backend/venv311/


# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Node (if using React/React Native in same repo)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pose_analysis_backend/venv311/
pose_analysis_backend/venv311/
